/* Aurora */
@font-face {
    font-family: 'Aurora';
    src: url('../fonts/aurora/Aurora.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.hero-title {
  margin-bottom: 24px !important;
  margin-top: -0.2em !important;
  font-family: 'Wondra', sans-serif !important;
}


:root {
    --theme-color: #1e305e;
    --theme-color2: #eed26e;
    --title-color: #0D0D0C;
    --title-dark: #364440;
    --body-color: #283541;
    --smoke-color: #eeede4;
    --smoke-color2: #283541;
    --smoke-color3: #eeede4;
    --black-color: #000000;
    --black-color2: #1B1B1B;
    --black-color3: #1A1A1A;
    --gray-color: #eeede4;
    --gray-color2: #eeede4;
    --gray-color3: #eeede4;
    --white-color: #eeede4;
    --light-color: #283541;
    --yellow-color: #eed26e;
    --success-color: #27AE60;
    --error-color: #c7835c;
    --th-border-color: #eeede4;
    --th-border-color2: #eeede4;
    --title-font: 'Aurora', cursive, sans-serif !important;
    --body-font: 'Poppins', Arial, sans-serif !important;
    --icon-font: "Font Awesome 6 Pro";
    --th-body-background: #eeede4;
}

.service-card.style6 {
    min-height: 365px;
}

@media (max-width: 1500px) {
    .service-card.style6 {
        min-height: 352px;
    }
}

@media (max-width: 1200px) {
    .service-card.style6 {
        min-height: 477px;
    }
}

@media (max-width: 992px) {
    .service-card.style6 {
        min-height: 385px;
    }
}

@media (max-width: 768px) {
    .service-card.style6 {
        min-height: 365px;
    }
}

@media (max-width: 576px) {
    .service-card.style6 {
        min-height: 275px;
    }
}

.centerVertical {
    display: flex;
    align-items: center; /* Centra el objeto verticalmente */
}

.centerHorizontal {
    display: flex !important;
    justify-content: center !important; /* (Opcional) Centra el objeto horizontalmente */
}

.centerObject {
    display: flex;
    align-items: center; /* Centra el objeto verticalmente */
    justify-content: center; /* (Opcional) Centra el objeto horizontalmente */
}

.text-theme {
    color: #fff !important;
}

.copyright-wrap .copyright-text {
    color: #fff;
}

.footer-layout4 .footer-links a {
    color: #fff;
}

.error-title {
    color: #fff;
}

.error-subtitle {
    color: #fff;
}

.bg-gray {
    background-color: #1e305e !important;
}

.error-text {
    color: #fff;
}

.width-100 {
    width: 100%;
    max-width: 100%;
}

.maxHeight-120 {
    max-height: 120px;
}